<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>1029667119374-dmi36qabgegcejdknijudkh37e604vrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029667119374-dmi36qabgegcejdknijudkh37e604vrp</string>
	<key>API_KEY</key>
	<string>AIzaSyAFz54xjplCXwLnWB_yjrUzcgm2tUif6dc</string>
	<key>GCM_SENDER_ID</key>
	<string>1029667119374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Amaal.Briefull</string>
	<key>PROJECT_ID</key>
	<string>briefull-2b0c8</string>
	<key>STORAGE_BUCKET</key>
	<string>briefull-2b0c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029667119374:ios:90eca5e1ce469babf0b75f</string>
</dict>
</plist>
